body {
    background: url(images/bg.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.form-planing {
    width: 100%;
    max-width: 340px;
    height: 480px;
    padding: 15px;
    margin: 0 auto;
    background-color: whitesmoke;
    border-radius: 15px;
}

.table-style{
    background-color: whitesmoke;
    border-radius: 15px;
}




